* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Segoe UI;

  background: #f8fbff;

  color: #163d6b;

  overflow: hidden;
}

.page {
  width: 100%;

  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  animation: fade 0.8s;
}

.hidden {
  display: none;
}

.card {
  background: white;

  padding: 40px;

  border-radius: 20px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  text-align: center;

  max-width: 420px;
}

.photo {
  width: 220px;

  border-radius: 18px;

  margin: 20px;

  animation: float 3s infinite;
}

button {
  margin-top: 30px;

  padding: 14px 35px;

  border: none;

  border-radius: 30px;

  background: #3b82f6;

  color: white;

  font-size: 17px;

  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  background: #2563eb;

  transform: scale(1.05);
}

.cat {
  width: 70px;

  margin-top: 20px;

  transition: 0.5s;
}

.jump {
  transform: translateY(-30px);
}

.firework {
  font-size: 55px;

  animation: fire 1.2s infinite;
}

.cake {
  font-size: 75px;

  margin: 20px;
}

@keyframes fade {
  from {
    opacity: 0;

    transform: translateY(20px);
  }

  to {
    opacity: 1;

    transform: none;
  }
}

@keyframes float {
  50% {
    transform: translateY(-10px);
  }
}

@keyframes fire {
  50% {
    transform: scale(1.2);
  }
}

/* =======================
   WHITE CAT ANIMATION
======================= */

#cat {
  position: fixed;

  bottom: -120px;

  left: 50%;

  transform: translateX(-50%);

  font-size: 60px;

  opacity: 0;

  z-index: 9999;

  pointer-events: none;
}

.showCat {
  animation: catAnimation 2s ease forwards;
}

@keyframes catAnimation {
  0% {
    bottom: -120px;

    opacity: 0;

    transform: translateX(-50%) scale(0.7);
  }

  20% {
    bottom: 40px;

    opacity: 1;

    transform: translateX(-50%) scale(1);
  }

  35% {
    bottom: 70px;

    transform: translateX(-50%) rotate(-10deg);
  }

  50% {
    bottom: 45px;

    transform: translateX(-50%) rotate(10deg);
  }

  65% {
    bottom: 60px;

    transform: translateX(-50%) rotate(-5deg);
  }

  80% {
    bottom: 40px;

    opacity: 1;
  }

  100% {
    bottom: -120px;

    opacity: 0;
  }
}
